# 文件 .gitignore 的格式规范如下：
# ① 以 # 开头的是注释
# ② 以 / 结尾的是目录
# ③ 以 / 开头防止递归
# ④ 以 ! 开头表示取反
# ⑤ 可以使用 glob 模式进行文件和文件夹的匹配（glob 指简化了的正则表达式)

# 所谓的 glob 模式是指简化了的正则表达式：
# ① 星号 * 匹配零个或多个任意字符
# ② [abc] 匹配任何一个列在方括号中的字符 （此案例匹配一个 a 或匹配一个 b 或匹配一个 c）
# ③ 问号 ? 只匹配一个任意字符
# ④ 在方括号中使用短划线分隔两个字符， 表示所有在这两个字符范围内的都可以匹配（比如 [0-9] 表示匹配
# 所有 0 到 9 的数字）
# ⑤ 两个星号 ** 表示匹配任意中间目录（比如 a/**/z 可以匹配 a/z 、 a/b/z 或 a/b/c/z 等）


#  忽略所有的 .a文件
# *.a

# 即使18行写了 忽略.a文件，但可以根据取反，去获取部分.a文件的
# !lib.a  (跟踪所有的lib.a)  取反，不受18行影响

# 只忽略当前目录下的 TODO文件，而不忽略 其他目录下的TODO文件(如subdir/TODO)
# /TODO

# 忽略任何目录下名为build的文件
# build/

# 忽略 doc目录下的txt文件，但是不忽略doc目录下的子目录的txt文件
# 比如说 doc/.txt(doc/a.txt会被忽略)  但(doc/text/a.txt)就不会被影响
# doc/*.txt

# 忽略doc目录下包括子目录的.pdf文件
# doc/**/*.pdf


# 以上都是ppt的。下面是针对该目录下的
# 添加至忽略文件时，git就会自动忽略这些文件，不会对他们进行跟踪

# 忽略index.css文件
index.css文件

# 忽略test文件下的所有文件
test/